@using Cevehat.Web.Models
@model ApplicationUser
@{
    ViewBag.Title = "Static";
    Layout = "~/Template/_ProfileLayout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Template/css/sb-admin.css" />
}




<section id="about">
    <div id="StaticAbout">
        @Html.Partial("StaticAbout", Model)
    </div>
</section>

<section id="education">
    <div id="StaticEducation">
        @Html.Partial("StaticEducation", Model)
    </div>
</section>

<section id="experience">
    <div id="StaticExperience">
        @Html.Partial("StaticExperience", Model)
    </div>
</section>

<section id="certification">
    <div id="StaticCertification">
        @Html.Partial("StaticCertification", Model)
    </div>
</section>

<section id="skill">
    <div id="StaticSkills">
        @Html.Partial("StaticSkills", Model)
    </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skiier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development world.</p>
    </div>
</section>

@section Scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
