@using Cevehat.Web.Models
@model  ApplicationUser

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <div class="float-right">
            @Ajax.ActionLink("New Experience", "EditExperience", "Profile", new AjaxOptions() {
           HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId= "modalBody", OnSuccess= "showModal('New Experience')"
       }, new { @class = "btn btn-sm btn-primary" })
        </div>
        
        <h2 class="mb-5">Experience</h2>
        @foreach (Experince exp in Model.Experinces)
        {
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">@exp.Position</h3>
                    <div class="subheading mb-3">@exp.Place</div>
                    <p>@exp.Responsbilty</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary"> @(false ? "Present" : exp.EndDate.ToString("MMM yyyy")) - @exp.StartDate.ToString("MMM yyyy")</span>

                    <div class="mt-3">
                        @Ajax.ActionLink("Edit", "EditExperience", "Profile", new { experienceId = exp.ExpId},
                       new AjaxOptions()
                       { HttpMethod= "GET", UpdateTargetId = "modalBody", InsertionMode = InsertionMode.Replace , OnSuccess= "showModal('Edit Experience')" },
                       new { @class = "btn btn-sm btn-warning" })

                        @Html.ActionLink("Delete", "Delete", "Education", new { experienceId = exp.ExpId }, new { @class = "btn btn-sm btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</section>
