@model IEnumerable<Cevehat.Web.Models.JobTitles_Skills>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jobTitle.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jobTitle.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Jobid=item.JbTitle_ID , Skillid = item.Skill_ID }) |
            @Html.ActionLink("Details", "Details", new { Jobid = item.JbTitle_ID, Skillid = item.Skill_ID }) |
            @Html.ActionLink("Delete", "Delete", new { Jobid = item.JbTitle_ID, Skillid = item.Skill_ID })
        </td>
    </tr>
}

</table>
