
@using Microsoft.AspNet.Identity



<div class="top">
    <!-- top -->
    <div class="container">
        <div class="media-top-right">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="media-top-2 clearfix">
                        <li>
                            @if (User.IsInRole("Employee"))
                            {
                                @Html.ActionLink("Your Profile", "Details", "UserProfile", routeValues: null, htmlAttributes: new { @class = "h5 my-1 btn btn-primary mx-2", title = "profile" })
                            }
                            else if (User.IsInRole("Employer"))
                            {
                                
                                @Html.ActionLink("Your Profile", "Details", "CompanyProfile", routeValues: null, htmlAttributes: new { @class = "h5 my-1 btn btn-primary mx-2", title = "profile" })
                            }



                        </li>
                        <li><a class="h5 my-1 btn btn-warning" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                    </ul>
                }
            }
            else
            {
                <ul class="media-top-2 clearfix">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default btn-blue btn-sm" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default btn-green btn-sm" })</li>
                </ul>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>