@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}

@section head{
    <link href="~/Template/css/main.css" rel="stylesheet" />
}

<section class=" job-bg page  ad-profile-page">
    <div class="container">
        <div class="breadcrumb-section">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Applied Job</li>
            </ol>
            <h2 class="title">Company Profile</h2>
        </div>
        <!-- breadcrumb-section -->

        <div class="job-profile section">
            <div class="user-profile">
                <div class="user-images">
                    <img src="~/images/@ViewBag.CompanyImage" width="150" height="150" alt="Company Images" class="img-responsive">
                </div>
                <div class="user">
                    <h2>
                        Hello ,
                        <a href="#"> @ViewBag.CompanyName</a>
                       
                    </h2>
                    <h5>You last logged in at: 10-01-2017 6:40 AM </h5>
                </div>

                <div class="favorites-user">
                    <div class="my-ads">
                        <a href="#">
                            @ViewBag.RecentJobCount
                            <small>Recent Jobs</small>
                        </a>
                    </div>
                    <div class="favorites">
                        <a href="#">
                            @ViewBag.ArchivedJobCount
                            <small>Archived Jobs</small>
                        </a>
                    </div>
                </div>
            </div>
            <!-- user-profile -->

            <ul class="user-menu">
                <li>
                    @Html.ActionLink("Company Details","Details","CompanyProfile")
                </li>
                <li>
                    @Html.ActionLink("Edit Details", "EditDetails", "CompanyProfile")
                </li>
                <li>
                    @Html.ActionLink("Recent Jobs", "RecentJobs", "CompanyProfile")
                </li>
                <li>
                    @Html.ActionLink("Archived Jobs", "ArchivedJobs", "CompanyProfile")
                </li>
                <li>
                    @Html.ActionLink("User Applications", "userApplications", "CompanyProfile")
                </li>
                <li>
                    @Html.ActionLink("Add Job", "AddJob", "CompanyProfile")
                </li>
            </ul>
        </div>
        <!-- ad-profile -->

        <div class="section trending-ads latest-jobs-ads">
            @RenderBody()
        </div>
        <!-- container -->
    </div>
</section>

