@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}

@section head{
    <link href="~/Template/css/main.css" rel="stylesheet" />
}

<section class=" job-bg page ad-profile-page">
    <div class="container">
        <div class="breadcrumb-section">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("My Profile", "Details", "UserProfile")
                </li>
            </ol>
            <h2 class="title">@Page.PageTitle</h2>
        </div>
        <!-- breadcrumb-section -->
            
        @if (!Page.EditMode)
        {
            <div class="job-profile section">
                <div class="user-profile">
                    <div class="user-images">
                        <img src="~/Template/images/user.jpg" alt="User Images" class="img-responsive">
                    </div>
                    <div class="user">
                        <h2>
                            Hello,
                            <a href="#">@Page.UserName</a>
                        </h2>
                        <h5>You last logged in at: 10-01-2017 6:40 AM </h5>
                    </div>

                    <div class="favorites-user">
                        <div class="my-ads">
                            <a href="/UserProfile/AppliedJobs">
                                @Page.JobsCount
                                <small>Apply Job</small>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- user-profile -->

                <ul class="user-menu">
                    <li>
                        @Html.ActionLink("Profile Details", "Details", "UserProfile")
                    </li>
                    <li>
                        @Html.ActionLink("Applied Jobs", "AppliedJobs", "UserProfile")
                    </li>
                    <li>
                        @Html.ActionLink("My Skills", "MySkills", "UserProfile")
                    </li>
                    <li>
                        @Html.ActionLink("Discover your Title", "SearchBySkills", "Explore")
                    </li>
                </ul>
            </div>
            <!-- ad-profile -->
        }
        @RenderBody()
    </div>
</section>
