<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Page.Title</title>

    <!-- Bootstrap -->
    <link href="~/Template/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <!-- Main Style -->
    <link href="~/Template/css/style.css" rel="stylesheet" />
    <!-- Main Style -->
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Nunito:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- fonts -->

    @RenderSection("head", required: false)
</head>

<body>
    <div id="wrapper">
        <!-- start main wrapper -->
        <div id="header">
            <!-- start main header -->
            <!-- top -->
            <div class="container">
                <div class="top-line">&nbsp;</div>
                @Html.Partial("_JB_LoginPartial")
                <!-- container -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- logo -->
                        <a href="/Default/Index" title="Job Board" rel="home">
                            <img class="main-logo" src="~/Template/images/cevehatLogo.png" alt="job board" />
                        </a>
                    </div>
                    <!-- logo -->
                    <div class="col-md-8 main-nav float-right" style="float: right;">
                        <!-- Main Navigation -->
                        <a id="touch-menu" class="mobile-menu" href="#">
                            <i class="fa fa-bars fa-2x"></i>
                        </a>
                        <nav>
                            <ul class="menu" style="float: right;">
                                <li>
                                    @Html.ActionLink("HOME", "Index", "Default")
                                </li>
                                <li>
                                    @Html.ActionLink("JOB SEARCH", "Index", "AutoCompletee")
                                </li>
                                @if (User.IsInRole("Employer"))
                                {
                                    <li>
                                        @Html.ActionLink("Add Job", "AddJob", "CompanyProfile")
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        @Html.ActionLink("Discover your Title", "SearchBySkills", "Explore")
                                    </li>
                                    <li>
                                        @Html.ActionLink("BUILD A RESUME", "Details", "UserProfile")
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <!-- Main Navigation -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- container -->
        </div>
        <!-- end main header -->

        @RenderBody()

        <div id="footer" style="height: 300px !important;">
            <!-- Footer -->
            <div class="container">
                <!-- Container -->
                <div class="row">
                    <div class="col-md-3 footer-widget">
                        <!-- Text Widget -->
                        <h6 class="widget-title">Cevehat.com</h6>
                        <div class="textwidget">
                            <p>Cevehat is a website that helps you to find an appropriate job and discover your potential job title</p>
                        </div>
                    </div>
                    <!-- Text Widget -->

                    <div class="col-md-2 footer-widget">
                        <!-- Footer Menu Widget -->
                        <h6 class="widget-title">Useful Links</h6>
                        <div class="footer-widget-nav">
                            <ul>
                                <li>
                                    @Html.ActionLink("HOME", "Index", "Default")
                                </li>
                                <li>
                                    @Html.ActionLink("JOB SEARCH", "Index", "AutoCompletee")
                                </li>
                                <li>
                                    @Html.ActionLink("Add Job", "AddJob", "CompanyProfile")
                                </li>
                                <li>
                                    @Html.ActionLink("BUILD A RESUME", "Details", "UserProfile")
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Menu Widget -->
                    <!-- Recent Tweet Widget -->

                    <div class="col-md-3 footer-widget">
                        <!-- News Leter Widget -->
                        <h6 class="widget-title">Register</h6>
                        <div class="textwidget">
                            <p>New Account</p>
                        </div>

                        <form role="form">
                            @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn-newstler" })

                        </form>
                        <a href="" target="blank">
                            <i class="media-footer footer-twitt"></i>
                        </a>
                        <a href="" target="blank">
                            <i class="media-footer footer-fb"></i>
                        </a>
                        <a href="" target="blank">
                            <i class="media-footer footer-linkedin"></i>
                        </a>
                        <a href="" target="blank">
                            <i class="media-footer footer-yahoo"></i>
                        </a>
                        <a href="" target="blank">
                            <i class="media-footer footer-blog"></i>
                        </a>
                        <a href="" target="blank">
                            <i class="media-footer footer-rss"></i>
                        </a>
                    </div>
                    <!-- News Leter Widget -->
                    <div class="clearfix"></div>
                </div>

                <div class="footer-credits">
                    <!-- Footer credits -->
                    2014 ©
                    <a href="http://themeforest.net/user/minimalthemes">Minimal Themes</a>. All Rights Reserved.
                </div>
                <!-- Footer credits -->

            </div>
            <!-- Container -->
        </div>
        <!-- Footer -->
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Template/js/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Template/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @RenderSection("Scripts", false)
    <script src="~/Template/js/job-board.js"></script>
</body>

</html>