@model Cevehat.Web.Models.ApplicationUser
@{
    ViewBag.Title = "Profil Page";
}

<h2>@ViewBag.Title.</h2>
@Model.Email
<br />
<a href="@Url.Action("Index","About")">About</a>
<br />
<a href="@Url.Action("Create","Education")">Educations</a>

@Ajax.ActionLink("about","about","home",new { id=Model.Id},new AjaxOptions() {

    UpdateTargetId="div1",
    InsertionMode=InsertionMode.Replace,
   
})

<div id="div1">eman</div>

@section scripts
{
    
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    
    }