
@model  List<Cevehat.Web.Models.JobTitle>
<ul>
    @foreach (Cevehat.Web.Models.JobTitle JobTitle in Model)
    {
        <li>@JobTitle.JobName</li>
    }
</ul>

@foreach (Cevehat.Web.Models.JobVacancie Vacancie in ViewBag.JobVacancies)
{
    
    <div class="card" style="width: 18rem;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <div class="card-body">
            <h5 class="card-title">@Vacancie.Company.CompanyName</h5>
            <p class="card-text">@Vacancie.ExpYears | @Vacancie.JobType | @Vacancie.Date.Day/@Vacancie.Date.Month/@Vacancie.Date.Year</p>
            <p>@Vacancie.State</p>
            @*      <a href="#" class="btn btn-primary">Go somewhere</a>*@
        </div>
    </div>
    <hr />
}
