@model  List<Cevehat.Web.Models.JobVacancie>
@{
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}
@section head{
    <link href="~/Template/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Template/css/owl.theme.css" rel="stylesheet">
    <link href="~/Template/css/owl.transitions.css" rel="stylesheet">
}

@*<ul>
    @foreach (Cevehat.Web.Models.JobTitle JobTitle in Model)
    {
        <li>@JobTitle.JobName</li>
    }
</ul>*@

<div class="recent-job">
    <!-- Start Recent Job -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><i class="glyphicon glyphicon-briefcase"></i> Search by Skill Result</h4>
                <div id="tab-container" class="tab-container" data-easytabs="true">
                    <div class="panel-container">
                        <div id="all" class="active" style="display: block;">
                            <!-- Tabs section 1 -->

                            @foreach (Cevehat.Web.Models.JobVacancie Vacancie in Model)
                            {
                                <div class="recent-job-list-home">
                                    <!-- Tabs content -->
                                    <div class="job-list-logo col-md-1 ">
                                        <img src="~/images/@Vacancie.Company.CompanyImage" @*class="img-responsive"*@ height="50" width="75" alt="dummy-joblist">
                                    </div>
                                    <div class="col-md-4 job-list-desc">
                                        <h5><B>@Vacancie.JobTitle.JobName</B></h5>
                                        <p>@Html.ActionLink(Vacancie.Company.CompanyName, "ViewProfile", "CompanyProfile", new { CompanyId = Vacancie.CompanyID })<br /></p>
                                    </div>
                                    <div class="col-md-4 full">
                                        <div class="row">
                                            <div class="job-list-location col-md-4 ">
                                                <h6><i class="fa fa-map-marker"></i>Egypt</h6>
                                            </div>
                                            <div class="job-list-location col-md-5 ">
                                                <h6><i class="fa fa-user"></i>@Vacancie.JobType.ToString()</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 full">
                                        <div class="row">
                                            <div class="job-list-type col-md-5 ">
                                                <h6><i class="fa fa-angle-double-right">@Html.ActionLink("See Details", "ShowDetails", "CompanyProfile", new { JobVacancieID = Vacancie.JobVacancieID }, null)</i></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- Tabs content -->
                            }

                        </div><!-- Tabs section 1 -->


                    </div>
                </div><!-- end Tabs -->
                <div class="spacer-2"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>