
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}

@section head{

    <!-- Owl Carousel -->
    <link href="~/Template/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Template/css/owl.theme.css" rel="stylesheet">
    <link href="~/Template/css/owl.transitions.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <!-- Form Slider -->
    <link rel="stylesheet" href="~/Template/css/jslider.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/jslider.round.css" type="text/css">
    <!-- Form Slider -->
}

<div class="main-slider">
    <!-- start main-headline section -->
    <div class="slider-nav">
        <a class="slider-prev">
            <i class="fa fa-chevron-circle-left"></i>
        </a>
        <a class="slider-next">
            <i class="fa fa-chevron-circle-right"></i>
        </a>
    </div>
    <div id="home-slider" class="owl-carousel owl-theme">
        <div class="item-slide">
            <img src="~/Template/images/upload/dummy-slide-1.jpg" style="height: 350px;" class="img-responsive" alt="dummy-slide" />
        </div>
        <div class="item-slide">
            <img src="~/Template/images/upload/dummy-slide-3.jpg" style="height: 350px;" class="img-responsive" alt="dummy-slide" />
        </div>
        <div class="item-slide">
            <img src="~/Template/images/upload/dummy-slide-4.jpg" style="height: 350px;" class="img-responsive" alt="dummy-slide" />
        </div>
        <div class="item-slide">
            <img src="~/Template/images/upload/dummy-slide-5.jpg" style="height: 350px;" class="img-responsive" alt="dummy-slide" />
        </div>
    </div>
</div>
<!-- end main-headline section -->


<div class="headline container">
    <!-- start headline section -->
    <div class="row">
        <div class="col-md-6 align-right">
            <h4>Easiest Way To Find Your Dream Job</h4>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using
            </p>
            <p>
                @Html.ActionLink("Find a Job", "Index", "AutoCompletee", null, new { @class = "btn btn-default btn-yellow" })
            </p>
        </div>
        <div class="col-md-6 align-left">
            <h4>Hire Skilled People, best of them</h4>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using
            </p>
            <p>
                @Html.ActionLink("Post a Job", "AddJob", "CompanyProfile",null, new { @class = "btn btn-default btn-light" })
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- end headline section -->

@Html.Partial("~/Views/AutoCompletee/search.cshtml", null)


<div class="recent-job">
    <!-- Start Recent Job -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Recent Jobs </h2>
                <div id="container" class="container">
                    <div class="panel-container">
                        <div id="all" class="active" style="display: block;">
                            <!-- Tabs section 1 -->

                            @foreach (Cevehat.Web.Models.JobVacancie Vacancie in ViewBag.activeJobVacanciesList)
                            {
                            <div class="recent-job-list-home">
                                <!-- Tabs content -->
                                <div class="job-list-logo col-md-1 ">
                                    <img src="~/images/@Vacancie.Company.CompanyImage" @*class="img-responsive"*@ height="50"width="75"  alt="dummy-joblist">
                                </div>
                                <div class="col-md-4 text-center job-list-desc">
                                    <h5>@Vacancie.JobTitle.JobName</h5>
                                    <p>@Html.ActionLink("Company: " + Vacancie.Company.CompanyName, "ViewProfile", "CompanyProfile", new { CompanyId = Vacancie.CompanyID },new { style="color: Blue;" })<br /></p>
                                </div>
                                <div class="col-md-4 full">
                                    <div class="row">
                                        <div class="job-list-location col-md-5 ">
                                            <h6><i class="fa fa-map-marker"></i>Egypt</h6>
                                        </div>
                                        <div class="job-list-location col-md-5 ">
                                            <h6><i class="fa fa-user"></i>@Vacancie.JobType.ToString()</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 full">
                                    <div class="row">
                                        <div class="job-list-type col-md-5 ">
                                            <h6><i class="fa fa-angle-double-right">@Html.ActionLink("  See Details", "ShowDetails", "CompanyProfile", new { JobVacancieID = Vacancie.JobVacancieID }, null)</i></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- Tabs content -->
                            }
                        </div><!-- Tabs section 1 -->
                    </div>
                </div><!-- end Tabs -->
                
            </div>
            
        </div>
    </div>
</div>

@*<div class="panel-container">
    <h1 class="step-to" style="text-align:center;">Recent Jobs</h1>
    <div id="all" class="active" style="display: block;">
        <!-- Tabs section 1 -->

        @foreach (Cevehat.Web.Models.JobVacancie j in ViewBag.activeJobVacanciesList)
        {
            <div class="recent-job-list">
                <!-- Tabs content -->
                <div class="row">
                    <div class="col-md-3">
                        <h5>@j.JobTitle.JobName</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>@j.Date</h5>
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("View Profile of " + j.Company.CompanyName, "ViewProfile", "CompanyProfile", new { CompanyId = j.CompanyID })<br />
                    </div>
                    <div class="col-md-2">
                        <h5>@j.JobType</h5>
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("See Details", "ShowDetails", "CompanyProfile", new { JobVacancieID = j.JobVacancieID }, null)<br />
                    </div>

                </div>
            </div><!-- Tabs content -->

        }
      
    </div><!-- Tabs section 1 -->
    <div id="contract" style="display: none;">
        <!-- Tabs section 2 -->
    </div><!-- Tabs section 2 -->
    <div id="full" style="display: none;">
        <!-- Tabs section 3 -->
    </div><!-- Tabs section 3 -->
    <div id="free" style="display: none;">
        <!-- Tabs section 4 -->
    </div><!-- Tabs section 4 -->
</div>*@



<div class="job-status">
    <div class="container">
        <h1>Jobs Stats Updates</h1>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
        </p>

        <div class="counter clearfix">
            <div class="counter-container">
                <div class="counter-value">@ViewBag.allJobVacanciesCount</div>
                <div class="line"></div>
                <p>All Job Vacancies</p>
            </div>


            <div class="counter-container">
                <div class="counter-value">@ViewBag.activeJobVacanciesCount</div>
                <div class="line"></div>
                <p>Active Job Vacancies</p>
            </div>

            <div class="counter-container">
                <div class="counter-value">@ViewBag.companiesCount</div>
                <div class="line"></div>
                <p>Companies</p>
            </div>

            <div class="counter-container">
                <div class="counter-value">@ViewBag.usersCount</div>
                <div class="line"></div>
                <p>Users</p>
            </div>
        </div>

    </div>
</div>

<div class="step-to">
    <div class="container">
        <h1>Easiest Way To Use</h1>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo
        </p>

        <div class="step-spacer"></div>
        <div id="step-image">
            <div class="step-by-container">
                <div class="step-by">
                    First Step
                    <div class="step-by-inner">
                        <div class="step-by-inner-img">
                            <img src="~/Template/images/step-icon-1.png" alt="step">
                        </div>
                    </div>
                    <h5>Register with us</h5>
                </div>

                <div class="step-by">
                    Second Step
                    <div class="step-by-inner">
                        <div class="step-by-inner-img">
                            <img src="~/Template/images/step-icon-2.png" alt="step">
                        </div>
                    </div>
                    <h5>Create your profile</h5>
                </div>

                <div class="step-by">
                    Third Step
                    <div class="step-by-inner">
                        <div class="step-by-inner-img">
                            <img src="~/Template/images/step-icon-3.png" alt="step">
                        </div>
                    </div>
                    <h5>Search for job</h5>
                </div>

                <div class="step-by">
                    Now it's our turn
                    <div class="step-by-inner">
                        <div class="step-by-inner-img">
                            <img src="~/Template/images/step-icon-4.png" alt="step">
                        </div>
                    </div>
                    <h5>Now take rest :)</h5>
                </div>

            </div>
        </div>
        <div class="step-spacer"></div>
    </div>
</div>

<div id="company-post">
    <div class="container">

        <h1>All Companies That Register At Site </h1>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
        </p>

        <div id="company-post-list" class="owl-carousel company-post owl-theme" style="display: block; opacity: 1;">
            <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 4860px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);">
                    @foreach (Cevehat.Web.Models.Company c in ViewBag.AllCompaniesLogo)
                    {
                        <div class="owl-item" style="width: 243px;">
                            <div class="company">
                                <img src="~/images/@c.CompanyImage" class="img-responsive" alt="company-post">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- Tabs -->
    <script src="~/Template/js/tabs/jquery.easytabs.min.js"></script>
    <script src="~/Template/js/tabs/modernizr.custom.49511.js"></script>
    <!-- Tabs -->
    <!-- Owl Carousel -->
    <script src="~/Template/js/carousel/owl.carousel.js"></script>
    <!-- Owl Carousel -->
    <!-- Form Slider -->
    <script type="text/javascript" src="~/Template/js/slider/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/tmpl.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/draggable-0.1.js"></script>
    <script type="text/javascript" src="~/Template/js/slider/jquery.slider.js"></script>
    <!-- Form Slider -->
    <!-- Map -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Map -->
}
