@model Cevehat.Web.Models.JobRequirements

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobRequirements</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobVacancie.JobVacancieID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobVacancie.JobVacancieID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReqID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
