@using Cevehat.Web.Models
@model JobVacancie
@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}



<div class="container">
    <div class="panel-container">
        <p>
            <h3>Job Details</h3>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 centering">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Company Name</td>
                            <td>@Model.Company.CompanyName</td>
                        </tr>
                        <tr>
                            <td>Job Title</td>
                            <td>@Model.JobTitle.JobName</td>
                        </tr>
                        <tr>
                            <td>Experience Years</td>
                            <td>@Model.ExpYears</td>
                        </tr>
                        <tr>
                            <td>Job Date</td>
                            <td>@Model.Date</td>
                        </tr>
                        <tr>
                            <td>Job Status</td>
                            <td>@Model.State</td>
                        </tr>
                        <tr>
                            <td>Job Type</td>
                            <td>@Model.JobType</td>
                        </tr>
                        <tr>
                            <td>Job Requirement</td>
                            <td>
                                @Model.Requirements
                            </td>
                        </tr>
                        <tr>
                            <td>Job Skills</td>
                            <td>
                                <ul>
                                    @foreach (Skill skill in Model.Skills)
                                    {
                                        <li>@skill.Title</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                        @if (User != null && User.IsInRole("Employee"))
                        {
                            <tr>
                                <td>Company Profile</td>
                                <td>@Html.ActionLink("View Profile Of " + Model.Company.CompanyName, "ViewProfile", "CompanyProfile", new { CompanyId = Model.Company.CompanyID }, null)</td>
                            </tr>
                        }
                        @if (User != null && User.IsInRole("Employee") && !ViewBag.isapplyed)
                        {
                            <tr>
                                <td>If You Want Apply</td>
                                <td>
                                    @Html.ActionLink("Apply", "ApplayToJob", "SkillsJobTitle", new { JobVacancieID = Model.JobVacancieID }, null)
                                </td>
                            </tr>
                        }

                    </table>

                </div>
                <div class="col-2"></div>

            </div>
        </div>
    </div>
</div>