
@using Cevehat.Web.Models
@model Company
@{
    ViewBag.Title = "userApplications";
    Layout = "~/Views/Shared/_JB_CompanyProfileLayout.cshtml";

    ViewBag.CompanyName = Model.CompanyName;
    ViewBag.CompanyImage = Model.CompanyImage;
    ViewBag.RecentJobCount = Model.JobVacancies.Where(x => x.State == State.Active).Count();
    ViewBag.ArchivedJobCount = Model.JobVacancies.Where(x => x.State == State.Closed).Count();
}

@*<div class="panel-container">
    <div id="all" class="active" style="display: block;">
        <!-- Tabs section 1 -->
    @foreach (Cevehat.Web.Models.JobVacancie j in Model.JobVacancies)
    {
        <div class="recent-job-list">
            <!-- Tabs content -->
           
            <div class="col-md-3 job-list-desc">
                <h5>@j.JobTitle.JobName</h5>
            </div>
            <div class="col-md-2 job-list-location">
                <h5>@j.State</h5>
            </div>
            <div class="col-md-2">
                <h5>@j.JobType</h5>
            </div>
                @foreach(Cevehat.Web.Models.ApplayedUsers appUser in j.ApplayedUsers)
                { 
                  @Html.ActionLink("View Profile of Candidate","ViewProfile", "UserProfile", new { userId = appUser.UserId })
                }
        </div><!-- Tabs content -->
    }
    </div><!-- Tabs section 1 -->
    <div id="contract" style="display: none;">
        <!-- Tabs section 2 -->
    </div><!-- Tabs section 2 -->
    <div id="full" style="display: none;">
        <!-- Tabs section 3 -->
    </div><!-- Tabs section 3 -->
    <div id="free" style="display: none;">
        <!-- Tabs section 4 -->
    </div><!-- Tabs section 4 -->
</div>*@




<div class="panel-container">
    <div id="all" class="active" style="display: block;">
        <!-- Tabs section 1 -->

        @foreach (Cevehat.Web.Models.JobVacancie j in Model.JobVacancies)
        {
            if (j.State == State.Active)
            {
                <div class="recent-job-list">
                    <!-- Tabs content -->
                    <div class="row">
                        <div class="col-md-3">
                            <h6>@j.JobTitle.JobName</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>@j.Date</h6>
                        </div>
                        <div class="col-md-2">
                            <h6>@j.State</h6>
                        </div>
                        <div class="col-md-2">
                            <h6>@j.JobType</h6>
                        </div>

                        <div class="col-md-2">
                            @foreach (Cevehat.Web.Models.ApplayedUsers appUser in j.ApplayedUsers)
                            {
                                <ul>
                                    <li> @Html.ActionLink("View Candidate", "ViewProfile", "UserProfile", new { userId =       appUser.UserId }, null)
                                    </li>
                                </ul>

                            }
                        </div>

                    </div>
                </div><!-- Tabs content -->
            }
        }
        @*<div class="clearfix"></div>*@
    </div><!-- Tabs section 1 -->
    <div id="contract" style="display: none;">
        <!-- Tabs section 2 -->
    </div><!-- Tabs section 2 -->
    <div id="full" style="display: none;">
        <!-- Tabs section 3 -->
    </div><!-- Tabs section 3 -->
    <div id="free" style="display: none;">
        <!-- Tabs section 4 -->
    </div><!-- Tabs section 4 -->
</div>



