@using Cevehat.Web.Models
@model Company
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_JobBoardLayout.cshtml";
}

@section head{
    <link href="~/Template/css/main.css" rel="stylesheet" />
}

<div class="resume-content">
    <div class="personal-deatils section">
        <div class="personal-info">
            <h3>Company Deatils</h3>
            <div class="container">
                <table class="table address" style="max-width: 600px;">
                    <tr>
                        <td style="min-width: 300px;"><h6><b>Company Image</b></h6></td>
                        <td>
                            <div class="user-images">
                                <img src="~/images/@Model.CompanyImage" width="150" height="150" alt="Company                                  Images" class="img-responsive">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><h6><b>Company Name</b></h6></td>
                        <td>@Model.CompanyName</td>
                    </tr>
                    <tr>
                        <td><h6><b>Company Information </b></h6></td>
                        <td>@Model.CompanyInfo</td>
                    </tr>
                    <tr>
                        <td><h6><b>Company Website</b></h6></td>
                        <td><a href="@Model.CompanyWebSite">@Model.CompanyWebSite</a></td>
                    </tr>
                    <tr>
                        <td><h6><b>Company Phone </b></h6></td>
                        <td>@Model.CompanyPhone</td>
                    </tr>
                    <tr>
                        <td><h6><b>Company Email </b></h6></td>
                        <td>@Model.CompanyEmail</td>
                    </tr>
                </table>

            </div>            
        </div>
    </div><!-- personal-deatils -->
</div>

