@using Cevehat.Web.Models
@model ApplicationUser
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_JB_UserProfileLayout.cshtml";
}

<div class="resume-content">
    <div class="profile section clearfix">
        <div class="profile-logo">
            <img class="img-responsive" src="~/Template/images/resume.jpg" alt="Image">
        </div>
        <div class="profile-info">
            <h1>@Model.Fname @Model.Lname</h1>
            <address>
                <p>Address: @Model.Address <br> Phone: @Model.PhoneNumber <br> Email:<a href="#"> @Model.Email</a></p>
            </address>
        </div>
            @Html.ActionLink("Edit", "EditPersonal", null, new { @class = "btn btn-outline-primary" })
    </div>

    <div class="career-objective section">
        <div class="icons">
            <i class="fab fa-black-tie" aria-hidden="true"></i>
        </div>
        <div class="career-info">
            <h3>Career Objective</h3>
            <p><span></span></p>
        </div>
    </div><!-- career-objective -->

    <div class="work-history section">
        <div class="icons">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
        </div>
        <div class="work-info">
            <h3>Work Experince</h3>
            <ul>
                @foreach (Experince exp in Model.Experinces)
                {
                    <li>
                        <h4>@exp.Position @@ @exp.Place <span>@exp.StartDate.ToString("MMM yyyy") - @exp.EndDate.ToString("MMM yyyy")</span></h4>
                        <p>@exp.Responsbilty</p>
                    </li>
                }
            </ul>
        </div>
    </div><!-- work-history -->

    <div class="educational-background section">
        <div class="icons">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="educational-info">
            <h3>Education Background</h3>
            <ul>
                @foreach (Education edu in Model.Educations)
                {
                    <li>
                        <h4>@edu.DegreeTitle @@ @edu.OrganizationName</h4>
                        <ul>
                            <li>Year: <span>@edu.GradYear.ToString("MMM yyyy")</span> </li>
                            <li>Major: <span>@edu.DepartmentName</span></li>
                            <li>Course Duration: <span>2 Years</span></li>
                            <li>Result: <span>@edu.GPA</span></li>
                        </ul>
                        <p>Description</p>
                    </li>
                }
            </ul>
        </div>
    </div><!-- educational-background -->

    <div class="special-qualification: section">
        <div class="icons">
            <i class="fas fa-trophy" aria-hidden="true"></i>
        </div>
        <div class="qualification">
            <h3>Certifications</h3>
            <ul>
                @foreach (Certification cert in Model.Certifications)
                {
                    <li><span></span><h4>@cert.CerName @@ @cert.CerPlace<span>@cert.CerYear.ToString("MMM yyyy")</span></h4></li>
                }
            </ul>
        </div>
    </div><!-- educational-background -->

    <div class="personal-deatils section">
        <div class="icons">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
        </div>
        <div class="personal-info">
            <h3>Personal Deatils</h3>
            <ul class="address">
                <li><h5>Full Name </h5> <span>:</span>@Model.Fname @Model.Lname</li>
                <li><h5>Date of Birth </h5> <span>:</span>26/01/1982</li>
                <li><h5>Martial Status </h5> <span>:</span>@Model.MaritaSutes.ToString()</li>
                <li><h5>Military Status </h5> <span>:</span>@Model.MilitaryStatus.ToString()</li>
                <li><h5>Facebook Profile </h5> <span>:</span>@Model.FacebookUrl</li>
                <li><h5>Twitter Profile </h5> <span>:</span>@Model.TwitterUrl</li>
                <li><h5>LinkedIn Profile </h5> <span>:</span>@Model.LinkinUrl</li>
            </ul>
        </div>
    </div><!-- personal-deatils -->

    <div class="buttons">
        <a href="#" class="btn">Download Resume as pdf</a>
    </div>
</div>

