@model IEnumerable<Cevehat.Web.Models.JobVacancie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpYears)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpYears)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.JobVacancieID }) |
            @Html.ActionLink("Details", "Details", new { id = item.JobVacancieID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JobVacancieID })
        </td>
    </tr>
}

</table>
