@model Cevehat.Web.Models.Certification

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.userId)
    <div class="form-horizontal">
        <h4>Certification</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CerPlace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CerPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CerPlace, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CerYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CerYear, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                @Html.ValidationMessageFor(model => model.CerYear, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table">

    <tr>
        <th>
            @Html.DisplayName("Full Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CerPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CerYear)
        </th>
    </tr>

    @foreach (Cevehat.Web.Models.Certification item in ViewBag.allCertification)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Fname) @Html.DisplayFor(modelItem => item.ApplicationUser.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CerPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CerYear)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cerid }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cerid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cerid })
            </td>
        </tr>
    }
</table>

<a class="nav-link text-center" href="/Education/Index">

    Next
    <span data-feather="arrow-right" class="text-center"></span>
</a>


