@model Cevehat.Web.Models.Certification

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Certification</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.CerPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CerPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CerYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CerYear)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
