@model IEnumerable<Cevehat.Web.Models.Certification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CerPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CerYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CerPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CerYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cerid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cerid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cerid })
        </td>
    </tr>
}

</table>
