@model Cevehat.Web.Models.ApplicationUser
@{
    Layout = "~/Template/_ProfileLayout.cshtml";
}

@*@using (Html.BeginForm("SaveAboutUs", "About"))
{
    <table>
        <tr>
            <td>First Name : </td>
            <td>@Html.TextBoxFor(a => a.Fname)</td>
        </tr>
        <tr>
            <td>Last Name : </td>
            <td>@Html.TextBoxFor(a => a.Lname)</td>
        </tr>
        <tr>
            <td>Gender : </td>
            <td>@Html.DropDownListFor(a => a.Gender, ViewBag.GendersList as List<SelectListItem>)</td>
        </tr>
        <tr>
            <td>Military Status : </td>
            <td>@Html.DropDownListFor(a => a.MilitaryStatus, ViewBag.MilitaryList as List<SelectListItem>)</td>
        </tr>
        <tr>
            <td>Marital Status : </td>
            <td>@Html.DropDownListFor(a => a.MaritaSutes, ViewBag.MaritalList as List<SelectListItem>)</td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>
}*@
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
                <div class="my-auto">
                    <div class="card card-register mx-auto mt-5" style="min-width: 40rem;">
                        <div class="card-header">Personal Information</div>
                        <div class="card-body">
                            @using (Html.BeginForm("SaveAboutUs", "About"))
                            {
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label for="exampleInputName">First name</label>
                                            @Html.TextBoxFor(m => m.Fname, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Fname, "", new { @class = "text-danger", style = "float: right;" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputLastName">Last name</label>
                                            @Html.TextBoxFor(m => m.Lname, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Lname, "", new { @class = "text-danger", style = "float: right;" })
                                        </div>

                                        <div class="col-md-6">
                                            <label for="exampleInputLastName">Address</label>
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger", style = "float: right;" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputLastName">Summary</label>
                                            @Html.TextBoxFor(m => m.Summary, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Summary, "", new { @class = "text-danger", style = "float: right;" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputLastName">Facebook Account</label>
                                            @Html.TextBoxFor(m => m.FacebookUrl, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.FacebookUrl, "", new { @class = "text-danger", style = "float: right;" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputLastName">Twitter Account</label>
                                            @Html.TextBoxFor(m => m.TwitterUrl, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.TwitterUrl, "", new { @class = "text-danger", style = "float: right;" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputLastName">Linkedin Account</label>
                                            @Html.TextBoxFor(m => m.LinkinUrl, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.LinkinUrl, "", new { @class = "text-danger", style = "float: right;" })
                                        </div>

                                        <div class="col-md-6">
                                            <label for="exampleInputName">Gender</label>
                                            @Html.DropDownListFor(a => a.Gender, ViewBag.GendersList as List<SelectListItem>, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputName">Military Status</label>
                                            @Html.DropDownListFor(a => a.MilitaryStatus, ViewBag.MilitaryList as List<SelectListItem>, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputName">Gender</label>
                                            @Html.DropDownListFor(a => a.MaritaSutes, ViewBag.MaritalList as List<SelectListItem>, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <input type="submit" value="Save" class="btn btn-primary btn-block" />
                            }
                        </div>
                    </div>
                </div>
        </div>
    </section>
