@using Cevehat.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Template/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Template/css/sb-admin.css" />
}
<section class="resume-section p-3 p-lg-5 d-flex d-column" id="login">
    <div class="my-auto">
        <div class="card card-login mx-auto mt-5" style="min-width: 40rem;">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Email address</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", style = "float: right;" })
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", style = "float: right;" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary btn-block" />
                }
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Navigation{
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#register">Register</a>
    </li>
}
