@model Cevehat.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Template/_LoginRegisterLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Template/css/sb-admin.css" />
}

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="register">
    <div class="my-auto">
        <div class="card card-register mx-auto mt-5" style="min-width: 40rem;">
            <div class="card-header">Register an Account</div>
            <div class="card-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputName">First name</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger", style = "float: right;" })
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">Last name</label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger", style = "float: right;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", style = "float: right;" })
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Password</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", style = "float: right;" })
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", style = "float: right;" })
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary btn-block" />
                }
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Navigation{
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/Home/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/Account/Login">Login</a>
    </li>
}
