@model IEnumerable<Cevehat.Web.Models.Skills>

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Skill_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Skill_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Skill_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Skill_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Skill_Id })
        </td>
    </tr>
}

</table>
